<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClubBam.Light">
        <activity
            android:name=".ui.cuotas.ListarSinCuotasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cuotas.ListarCuotasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cuotas.PagarActividadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.perfil.CarnetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cuotas.PagoCuotaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cuotas.CuotaCarnetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.FormularioRegistroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menu.MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.menu.ValidacionDocActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RecuperarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ConfirmaRecuperoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cuotas.ComprobantePagoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>